<h2>Student List</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>
  <tr *ngFor="let student of Filter()">
    <td>{{ student.id }}</td>
    <td>{{ student.name }}</td>
    <td><button (click)="Delete(student)">Delete</button></td>
  </tr>
</table>
<input type="text" [(ngModel)]="search" placeholder="search by name"/>
<div>
  <p>Add new</p>
  <input type = "text" [(ngModel)]="newStudent.id" placeholder="Enter id"/>
  <input type = "text" [(ngModel)]="newStudent.name" placeholder="Enter name"/>
  <button (click)="Addstudent()">Add</button>  
</div>
